pre,textarea,body,input,td,tr,p {
     background-color: #121212 !important;
     background-image: none !important;
     color: #6c6c6c !important;
}

div {
     background-color: #222222 !important;
     background-image: none !important;
     color: #7c7c7c;
}

h1,h2,h3,h4 {
     background-color: #121212 !important;A
     color: #7c7c7c;
}

a {
     color: #6c6c6c;
}
